<%= form_with model: point, url: admin_point_path(point) ,local:true, method: :patch do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control book_title' %>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control book_body' %>
  </div>
          

  
  <div class="check_box">
    <span><%= f.label :tag, 'タグ' %></span>
    <div>
      <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :category, {include_hidden: false}) do |tag| %> 
        <%= tag.label do %>
          <%= tag.check_box %>
          <%= tag.text %>
        <% end %>
      <% end %>
    </div>
  </div>
  

  <% if point.id === nil %>
    <div class="form-group" id="star">
      <%= f.label :rate %>
      <%= f.hidden_field :rate, id: :review_star, class:'form-control' %>
    </div>
    
    <div id="point_raty"></div>
    <script>
      $( function() {
      let raty_elem = document.querySelector('#point_raty');
      raty_elem.innerHTML = ""
      let option = {  
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          scoreName: 'point[rate]',
        };
      raty(raty_elem,option);
     });
    </script>
    
   
  <% else %>
    <%= render "customers/points/static_rate", point: point %>
  <% end %>
  
  
  </div>
  <div class='col-md-8 offset-md-1'>
  
  
  <div class="actions">
    <%= f.hidden_field :lat,:value =>"緯度", id: :lat %>
    <%= f.hidden_field :lng,:value =>"経度", id: :lng %>
  </div>
  
<h2>Map</h2>

<input id="address" type="textbox" value="GeekSalon">
<input type="button" value="検索" onclick="codeAddress()">
<p>マーカーをドラック＆ドロップで位置の調整ができます。<p>
<div id='map'></div>

<style>
#map {
  height: 400px;
  width: 600px;
}
</style>

<script>
//初期マップの設定
let map
let marker
function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center:  {lat: 35.6803997, lng:139.7690174},  //東京
    zoom: 15,
    
  });
}

//検索後のマップ作成
let geocoder
let aft
function codeAddress(){
  let inputAddress = document.getElementById('address').value;
  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
        //マーカーが複数できないようにする
        if (aft == true){
            marker.setMap(null);
        }

        //新しくマーカーを作成する
        map.setCenter(results[0].geometry.location);
            marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location,
            draggable: true	// ドラッグ可能にする
        });

        //二度目以降か判断
        aft = true

        //検索した時に緯度経度を入力する
        document.getElementById('lat').value = results[0].geometry.location.lat();
        document.getElementById('lng').value = results[0].geometry.location.lng();

        // マーカーのドロップ（ドラッグ終了）時のイベント
        google.maps.event.addListener( marker, 'dragend', function(ev){
            // イベントの引数evの、プロパティ.latLngが緯度経度
            document.getElementById('lat').value = ev.latLng.lat();
            document.getElementById('lng').value = ev.latLng.lng();
        });
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });   
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVjViuZ0RsFdHm369SRkDDpfTa658CFXo&callback=initMap" async defer></script>
          
  <div class="form-group">
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>