<header>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#808080;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><%#= image_tag 'N2.png', height:50, class: "logo" %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
          <p id="notice"><%= notice %></p>  
          <% if customer_signed_in? %>
            <li class="nav-item">
              <button type="button" class="btn btn-outline-dark btn-nm">
                <%= link_to "MyPage", user_path(current_customer), class: 'nav-link text-dark' %>
              </button>
            </li>
            <li class="nav-item ml-2">
              <button type="button" class="btn btn-outline-dark btn-nm">
                <%= link_to "write", new_point_path, class: 'nav-link text-dark' %>
              </button>
            </li>
            <li class="nav-item ml-2">
              <button type="button" class="btn btn-outline-dark btn-nm">
                <%= link_to "users", users_path, class: 'nav-link text-dark' %>
              </button>
            </li>
            <li class="nav-item ml-2">
              <button type="button" class="btn btn-outline-dark btn-nm">
                <%= link_to "points", points_path, class: 'nav-link text-dark' %>
              </button>
            </li>
            <li class="nav-item ml-2">
              <button type="button" class="btn btn-outline-dark btn-nm">
                <%= link_to "Logout", destroy_customer_session_path, method: :delete, class: 'nav-link text-dark' %>
              </button>
            </li>
          <% elsif admin_signed_in? %>
            <li class="nav-item ml-2">
              <button type="button" class="btn btn-outline-dark btn-nm">
                <%= link_to "Logout", destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' %>
              </button>
            </li>
          <% else %>
            <li class="nav-item">
              <button type="button" class="btn btn-outline-dark btn-nm">
                <%= link_to "About", about_path, class: 'nav-link text-dark' %>
              </button>
            </li>
            <li class="nav-item ml-2">
              <button type="button" class="btn btn-outline-dark btn-nm">
                <%#= link_to "Items", items_path, class: 'nav-link text-dark' %>
              </button>
            </li>
            <li class="nav-item ml-2">
              <button type="button" class="btn btn-outline-dark btn-nm">
                <%= link_to "SignUp", new_customer_registration_path, class: 'nav-link text-dark' %>
              </button>
            </li>
            <li class="nav-item ml-2">
              <button type="button" class="btn btn-outline-dark btn-nm">
                <%= link_to "Login", new_customer_session_path, class: 'nav-link text-dark' %>
              </button>
            </li>
          </ul>
          <% end %>
        </div>

    </div>
  </nav>
</header>