<header>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#808080;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><%#= image_tag 'N2.png', height:50, class: "logo" %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
          <p id="notice"><%= notice %></p>  
          <% if customer_signed_in? %>
            <li class="nav-item">
              <%= link_to user_path(current_customer), class: 'nav-link text-dark' do %>
                <button type="button" class="btn btn-outline-dark btn-nm">MyPage</button>
              <% end %>
            </li>
            <li class="nav-item ml-2">
              <%= link_to new_point_path, class: 'nav-link text-dark' do %>
                <button type="button" class="btn btn-outline-dark btn-nm">write</button>
              <% end %>
            </li>
            <li class="nav-item ml-2">
              <%= link_to users_path, class: 'nav-link text-dark' do %>
                <button type="button" class="btn btn-outline-dark btn-nm">users</button>
              <% end %>
            </li>
            <li class="nav-item ml-2">
              <%= link_to points_path, class: 'nav-link text-dark' do %>
                <button type="button" class="btn btn-outline-dark btn-nm">points</button>
              <% end %>
            </li>
            <li class="nav-item ml-2">
              <%= link_to destroy_customer_session_path, class: 'nav-link text-dark' do %>
                <button type="button" class="btn btn-outline-dark btn-nm">Logout</button>
              <% end %>
            </li>
          <% elsif admin_signed_in? %>
            <li class="nav-item ml-2">
              <%= link_to destroy_admin_session_path, class: 'nav-link text-dark' do %>
                <button type="button" class="btn btn-outline-dark btn-nm">Logout</button>
              <% end %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to about_path, class: 'nav-link text-dark' do %>
                <button type="button" class="btn btn-outline-dark btn-nm">About</button>
              <% end %>
            </li>
            <li class="nav-item ml-2">
              <%= link_to new_customer_registration_path, class: 'nav-link text-dark' do %>
                <button type="button" class="btn btn-outline-dark btn-nm">SignUp</button>
              <% end %>
            </li>
            <li class="nav-item ml-2">
              <%= link_to new_customer_session_path, class: 'nav-link text-dark' do %>
                <button type="button" class="btn btn-outline-dark btn-nm">Login</button>
              <% end %>
            </li>
          </ul>
          <% end %>
        </div>

    </div>
  </nav>
</header>